<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Enter new user</h2>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <label for="firstName">FirstName: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>

        <br/>

        <label for="lastName">LastName: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br/>

        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email"/>

        <br/>

        <input type="submit" value="Create!" />

    </div>

</form>
<h2> </h2>
<h2> </h2>
<!-- Ссылка на страницу списка всех пользователей /users -->
<a th:href="@{/users}" th:text="UsersList">UsersList</a>


</body>
</html>
